@import "../base/settings";

.about__heading {
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding-left: 5%;
}

.about__info {
  display:flex;
  padding: 0 5%;
}

#about_imgmain {
  width: 100%;
}

.about__img-holder {
  flex-basis: 20%;
}

.about__text-holder {
  padding: 0 2%;
  flex-basis: 80%;
}


@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
  h2 {
    font-size: 1rem;
  }
  .about__heading {
    margin-top: 2rem;
  }
  .about__img-holder {
    flex-basis: 40%;
  }
  .about__text-holder {
    flex-basis: 60%;
  }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {
  .about__heading {
    padding-left: 0;
  }
  .about__heading > div {
    display: flex;
    justify-content:center;
  }
  .about__info {
    position: relative;
    top: -6rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0;
  }
  .about__img-holder {
    transform: rotate(90deg);
    width: 40%;
    flex-basis: 1%;
  }
  .about__text-holder {
    position: relative;
    top: -3rem;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  .about__heading {
    padding-left: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .about__img-holder {
    display: none;
  }
  .about__info {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0;
    p {
      text-align: justify;
    }
  }
}


