@import "../base/settings";

.dishesFilterForm {
  margin: $big_section_margin;
}

.dishList {
  margin: 3rem 0;
  overflow: hidden;
}

.dishlist__chunkRow {
  display: flex;
  justify-content: flex-start;
  margin-right: -2%;
}

@media (max-width: $mobiles_breakpoint) {
  .dishlist__chunkRow {
    flex-direction:column;
  }
}