@import "../base/settings";

.dishItem {
  flex: 0 1 calc(33.333% - 20px);
  border: $grey-border;
  margin-bottom: 50px;
  margin-right: 20px;
}

.dishItem__img {
  width: 100%;
}

.dishItem__cropper {
  width: 100%;
  height: 30vh;
  overflow: hidden;
}