@import "../base/settings";

#bestFood {
  font-size: $m-size;
  height: 30vh;
  margin: 2rem 0;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:space-around;
}

.bestFood__title {
  margin-bottom: 0;
}

#homePagePhotos {
  padding: $section_padding;
  margin-top: $section_margin;
}

.homePagePhotos__cropper {
  height: 95%;
  overflow: hidden;
}

.homePagePhotos__image {
  width: 100%;
  margin-bottom: 1rem;
}

#intro {
  padding: $section_padding;
  margin: $section_margin;
}

@media (max-width: $tablet_breakpoint) {
  #bestFood{
    height: 10vh;
    font-size: $s-size;
  }
  .homePagePhotos__cropper {
    height: 90%;
  }

}

@media (max-width: $mobiles_breakpoint) {
  #bestFood {
    margin: $section_tablet_margin;
    font-size: $xs-size;
  }
  .intro__text {
    font-size: 12px;
  }
  #intro {
    margin: $section_tablet_margin
  }
  .homePagePhotos__cropper {
    height: 95%;
  }
  .homePagePhotos__image {
    margin-bottom: 0.3rem;
  }
  .homePagePhotos__column {
    padding: 0.1rem!important;
  }

}