// COLORS
$off-black: #20222b;
$link-hover: #010000;

//SPACING
$m-size: 1.6rem;
$l-size: 2.4rem;
$desktop-breakpoint : 45rem;
$section_padding : .5rem;
$section_margin  : 1rem 0;

// BORDERS
$grey-border: 1px solid #ddd;