// COLORS
$off-black: #20222b;
$link-hover: #010000;
$greybackground: #f7f7f9;

//SPACING AND SIZING
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$section_padding : .5rem;
$section_margin  : 1rem 0;
$big_section_margin : 2rem 0;
$section_tablet_margin: 0.2rem 0;

// BORDERS
$grey-border: 1px solid #ddd;

// BREAKPOINTS
$desktop_breakpoint : 1025;
$laptop_breakpoint : 991px;
$tablet_breakpoint : 768px;
$mobiles_breakpoint : 576px;